#:schema node_modules/wrangler/config-schema.json

name = "keyaos"
main = "worker/index.ts"
compatibility_date = "2025-12-01"
compatibility_flags = ["nodejs_compat"]

[vars]
MODE = "personal"

# [assets]
# directory = "./dist"
