@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-primary-50: #eff6ff;
	--color-primary-100: #dbeafe;
	--color-primary-500: #3b82f6;
	--color-primary-600: #2563eb;
	--color-primary-700: #1d4ed8;
}

@layer base {
	:root {
		color-scheme: light dark;
	}

	.dark {
		color-scheme: dark;
	}
}
